.supervisor{
  
    background-color:  rgb(65, 143, 222);
    width: 161px;
    height: 133px;
    padding: 10px;
    margin: 20px 40px 10px 50px;
    float: left;
    color: white;
    font-weight: bolder;
    font-size: 85px;;
    padding-top: 75px;
    padding-top: 75px;
    padding-bottom: 70px;
    padding-right: 200px;
}

.sup-page {
    background-color:   rgb(65, 143, 222);
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    padding: 0 10px 300px 10px; 

}

.name-spacer-super{
    padding-left: 30px;
    padding-top: 10px;
    text-align: left;
}
.super-spacer{
    padding-left: 40px;
    padding-top: 20px;
    text-align: left;
    color: white;
}

#exampleFormControlTextarea1{
    height: 100px;
}

#sup-box{
    height: 50px;
}

#super-box{
    height: 200px;
}