.break{
 
    background-color:  rgb(252, 163, 17);
    width: 161px;
    height: 350px;/* height: //450px; */
    padding: 10px;
    margin: 20px 40px 10px 50px; 
    float: left;
    color: white;
    font-weight: bolder;
    font-size: 85px;;
    padding-top: 75px;
    padding-bottom: 70px;
    padding-right: 200px;
}

.break-page{
      background-color:  rgb(252, 163, 17);
    margin-left: 35%;
    width: 300px;
    height: 500px;
    padding: 0 10px 300px 10px; 
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    
    color: white;
}

.break-spacer{
    padding-left: 15px;
    padding-top: 20px;
    text-align: left;
    color: white;
    text-align: center;
}
.btn-background{color: green;}


/* //rgb(65, 143, 222);} */