.manager{
  
    background-color:  rgb(65, 143, 222);
    width: 161px;
    height: 133px;
    /* padding: 10px; */
    margin: 20px 40px 10px 300px;
    float: left;
    color: white;
    font-weight: bolder;
    font-size: 85px;;
    padding: 75px 200px 130px 20px;

}

.edit-user{
    background-color:  rgb(65, 143, 222);
    width: 600px;
    height: 600px;
     margin-left: auto;
     margin-right: auto;
     padding: 0 10px 300px 10px; 
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.breaks {
    background-color:  rgb(65, 143, 222);
     margin-left: auto;
     margin-right: auto;
     padding: 10px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

#add-employee{
    background-color: rgb(65, 143, 222);
     margin-left: auto;
     margin-right: auto;
     padding: 0 10px 300px 10px; 
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.signup-title{
    color: #50596c;
}

.gotit {
    color: #50596c
}

td {
    padding: 5px;
}

th {
    padding: 5px;
}