.emerg {
    background-color: red;
    width: 85.5%;
    height: 133px;
    padding: 10px;
    margin: 20px 40px 10px 50px;
    float: left;
    color: white;
    font-weight: 400;
    font-size: 30px;;
    padding-top: 75px;
    padding-bottom: 70px;
    text-align: center;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
   box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
