.hr-page {
   
    background-color: rgb(65, 143, 222); 
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 650px;
    padding-bottom: 300px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    background-color: rgb(65, 143, 222);
}

.hr{
  
    background-color:  rgb(65, 143, 222);
    width: 161px;
    height: 133px;
    padding: 10px;
    margin: 20px 40px 10px 50px;  
    float: left;
    color: white;
    font-weight: bolder;
    font-size: 85px;
    padding-top: 75px;
    padding-bottom: 70px;
    padding-right: 200px;

    
    

}

.form-underlabel{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.nspacer{
    /* margin-left: 40000px; */
    /* padding-top: 10px; */
    color: white;
    width: 500px;
}


.ntitle{
    /* margin-left: 40000px; */
    /* padding-top: 10px; */
    color: white;
    width: 325px;
    padding-top: 20px;
}
.gotti{
    font-size: 19px;
}
#dept-box{
    height: 50px;
}
#hr-box{
    height: 150px;
}
