.block-spacer{
    margin-bottom: 100px;
     /* padding-bottom: 1000px; */
 }
.title>p{
    margin-left: -150px;
    margin-bottom: -25px;
    
}
.title{
    width: 281%;
    height: 25%;
    text-align: center;
    align-content: justify;  
    /* margin: 0 40% 15% 40%; */
    /* padding-bottom: 1000px; */
}
#subtitle{
 
    text-align: left;
    /* align-content: justify;   */
}

.btn, .wow{
    margin-top: 45px;
    width: 100%;
}

.hey{
    margin: 20px;
}
h1,h2,h3,h4,p,.black{
    color: white;
    margin: 20px 0 10px 0; 
    /* outline: 5px dotted black; */
    color: white;
    font-family:  'Anton', sans-serif; 

}

h1 {
    padding-top: 50px;
}

#row1 {
    margin: auto;
}

