.block-spacer{
    margin-bottom: 100px;
     /* padding-bottom: 1000px; */
 }
.title>p{
    margin-left: -150px;
    margin-bottom: -25px;
    
}
.title{
    width: 281%;
    height: 25%;
    text-align: center;
    align-content: justify;  
    /* margin: 0 40% 15% 40%; */
    /* padding-bottom: 1000px; */
}
#subtitle{
 
    text-align: left;
    /* align-content: justify;   */
}

.btn, .wow{
    margin-top: 45px;
    width:100%;
}

.hey{
    margin: 20px;
}
h1,h2,h3,h4,p,.black{
    color: white;
    margin: 20px 0 10px 0; 
    /* outline: 5px dotted black; */
    color: white;
    font-family:  'Anton', sans-serif; 

}

h1 {
    padding-top: 50px;
}

#row1 {
    margin: auto;
}

.add-user{
    background-color: white;
    margin-left: 35%;
    width: 600px;
    height: 600px;
    padding-bottom: 300px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

/* ############################Signup has to be modulized################################################################################################## */
/* Copy and past this into a sighup.css file and change the path in sign up form from this file to the created file  */
.signup-button{
    margin-top: 45px;
    width:33%;
    background-color: white;

}
.signup-title{
    text-align: center;
    color: rgb(65, 143, 222);;
    padding-top: 20px;
}

.signup-form{
    padding-left: 200%;
    margin-left:  25%;
    margin-right: -100%;

}

/* ########################################################################################################################################## */


/*################################################ Edit user needs to me modulized######################################################################################### */
/* Copy and past this into a sighup.css file and change the path in sign up form from this file to the created file  */
.edit-user{
    background-color: white;
    margin-left: 35%;
    width: 300px;
    height: 500px;
    padding-bottom: 300px;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    

}

.edit-form{
    padding-left: -100%;
    padding-top: 10px;
    padding-right: 30px;
    /* margin-left:  25%; */
    /* margin-right: -100%; */
    

}
.somethong{
    padding-right: 100px; 
}

.edit-title{
    padding-top: 30px;
    padding-right: 100px;
    
}

.signup-form-button{
    width: 75%;
    color: pink;
    padding-right: 100px;

    background-color: pink;
}
.btton-padding{
    padding-left: -100%;
    padding-top: 10px;
    padding-right: 30px;
margin-left: 40px;
}

.employees-edit{
    margin-top: 20px;
}
/* ######################################################################################################################33 */


