.App {
  text-align: justify;
  background-color: rgb(65, 143, 222)
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}
.hel{
  background-color: #f0f0f0;
  border-color: greenyellow;
  padding-bottom: 150px;

}
.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#2c4053 0,#2c4053 100%) !important; /* override background image gradient w/ flat color */
}
.logoutbtn{
  margin-right: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.user{
  float: left;
  right: 0;
  top: 0;
  margin-right: -2000px;
  padding-left:650px;
}

.navbar {
 
  margin-top: auto;
  
}
#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

.user-name{
  padding-left: 55%;
  
}

